# Ignore Visual Studio temporary files, build results, and user-specific settings.
*.log
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.lastbuildstate
*.suo
*.sdf
*.opensdf
*.ipch

# Ignore specific directories and their contents
/ZiChess/x64/
/ZiChess/Chess(C).tlog/
/.vs/
# Ignore build directories and intermediate object files
/ZiChess/x64/Debug/
/ZiChess/x64/Release/

# Ignore user-specific Visual Studio project files
*.vcxproj.user

# Backup and temporary files
*.bak
*.tmp
*.swp
